
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <a href="https://localhost:44371/Project/Home"><h1 class="Heading"><img src="~/TheFlem.png"></h1></a>
    <h1 class="Heading">Login</h1>
    <div class="topnav">
        <a class="active" href="https://localhost:44371/Project/SignUp">Sign Up Here</a>
        <a class="active" href="https://localhost:44371/Project/Home">Home</a>
    </div>

    <div class="Login">

        @using (Html.BeginForm("WelcomePage","Project",FormMethod.Post))
        {
            <label for="txtUsername">Email Address</label>
            <br />
            <input type="text" id="txtEmail" name="Email" required placeholder="Your email address">
            <br />
            <label for="txtPassword">Password</label>
            <br />
            <input id="txtPassword" type="password" name="Password" required placeholder="Your password" />
            <br />
            <input type="Submit" value="Login">
        }

    </div>

    <div>

    </div>
</body>
</html>
